// General guide backend: Located in the backend folder frontend: Located in the frontend folder

Ignore RFID folder

Documentations for backend documentation dir: /backend/docs

for frontend documentation dir: /frontend/docs

// backend

use node.js
use express
use mongodb